.nav{
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0 2em;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}

.navList{
    display: flex;
    list-style: none;
    width:60%;
    justify-content: space-evenly;
}

li:hover{
    color: rgb(202, 51, 202);
    cursor: pointer;
}